
<body>
    <!-------------------- Scroll-Top Area (Start) -------------------->
    <a href="#home" class="scroll-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
   
    <!-------------------- Home Area (Start) -------------------->
    <section class="home" id="home">

        <div class="box-container">

            <div class="content">
                <div class="text">
                    <h2>Seja Bem Vindo</h1>
                        <h1>Sou Andreza Melo Psicanalista e ofereço os seguintes serviços: <span
                                class="typing-text"></span></h1>
                        <p> Sou Andreza Melo, Neuropisicanalista, mestre em psicanálise e pós graduada em Psicologia</p>
                        <a href="#about" class="btn">Sobre mim <i class="fas fa-user"></i></a>
                </div>
            </div>

            <div class="image">
                <img src="~/images/Home/psi.jpg" alt="Home-Image">
            </div>

        </div>

    </section>

    <!-------------------- Home Area (End) -------------------->



    <!-------------------- About Area (Start) -------------------->
    <section class="about" id="about">

        <div class="box-container">

            <div class="image">
                <img src="~/images/About/LogoPsi.png" alt="About-Image" />
            </div>

            <div class="content">

                <h2>Meu nome é Andreza Melo.</h2>
                <p>Sou Neuropsicanalista, Mestre em psicanálise e pós graduada em Psicologia.</p>

                <div class="about-info">

                    <div class="info">
                        <h4>Idade: <span>45</span></h4>
                        <h4>Area de atuação: <span>clínica</span></h4>
                        <h4>Pais de atuação: <span>Brasil</span></h4>
                        <h4>Area de trabalho: <span>Psicanálise</span></h4>
                        <h4>Tipo de serviço: <span>available</span></h4>

                    </div>

                    <div class="counting">

                        <div class="box">
                            <h1 class="count" data-count="4">4+</h1>
                            <h3>Anos de experiência</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="100">100+</h1>
                            <h3>Projetos concluídos</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="80">80+</h1>
                            <h3>Clientes satisfeito</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="20">20+</h1>
                            <h3>prêmios ganhos</h3>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="skill-container">

            <div class="heading">
                <h2>Minhas<span>Habilidades</span></h2>
            </div>

            <div class="skills">
                <div class="skill-item item1">
                    <div class="box">
                        <h3>Análise e Interpretação<span> 100% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3><span> Confidencialidade e Ética </span>100% </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Flexibilidade e Adaptabilidade<span> 100% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

                <div class="skill-item item2">
                    <div class="box">
                        <h3>Escuta Ativa<span> 100% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Paciência e Persistência<span> 100% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Capacidade de Estabelecer Relacionamento<span> 100% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- About Area (End) -------------------->



    <!-------------------- Qualification Area (Start) -------------------->
    <section class="qualification">

        <div class="heading">
            <h2>Minhas <span>Qualificações</span></h2>
        </div>

        <div class="box-container">

            <div class="education">

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2015 - 2016</span>
                        <h3>Formação Psicanalítica</h3>
                        <p>Realização de um curso especializado em psicanálise, que inclui estudo teórico aprofundado
                            das obras de Sigmund Freud, Carl Jung, Jacques Lacan, Melanie Klein, entre outros. Esses
                            cursos são oferecidos por instituições psicanalíticas reconhecidas.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2016 - 2017</span>
                        <h3> Neuropsicanalista</h3>
                        <p> focado nos alicerces neurobiológicos da atividade cerebral dos sentimentos, da ação e do
                            pensamento para os vincular a um modelo psicanalítico da mente.</p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2017 - 2018</span>
                        <h3>Mestre Em Psicanálise</h3>
                        <p>Aprofunde-se em teorias avançadas e práticas clínicas para promover a saúde mental e o
                            bem-estar emocional</p>
                    </div>
                </div>

            </div>

            <div class="experience">

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2018 - 2019</span>
                        <h3>Pós Graduada Em Psicologia.</h3>
                        <p>Trata-se de uma pós direcionada para que os profissionais sejam capazes de refletir a
                            respeito do sofrimento psíquico e de aplicar técnicas apropriadas para o tratamento
                            eficiente de saúde mental
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2019 - 2020</span>
                        <h3>Habilidades Interpessoais e Éticas</h3>
                        <p>Empatia e Escuta Ativa: Habilidade de compreender e se conectar com os sentimentos e
                            experiências dos pacientes.
                            Ética Profissional: Compromisso com os princípios éticos, como confidencialidade, respeito e
                            integridade, é crucial na prática psicanalítica.</p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2020 - 2021</span>
                        <h3>Publicações e Pesquisa</h3>
                        <p>Contribuição Acadêmica: Muitos psicanalistas contribuem para a literatura acadêmica com
                            pesquisas, artigos e livros sobre teorias e práticas psicanalíticas.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-------------------- Qualification Area (End) -------------------->



    <!-------------------- Services Area (Start) -------------------->
    <section class="service" id="service">

        <div class="heading">
            <h2>Meu <span>serviços</span></h2>
        </div>

        <div class="box-container">

            <div class="service-item">
                <i class="fa fa-user-md" aria-hidden="true"></i>
                <h3>Psicanálise Individual</h3>
                <p>Terapia em que o paciente explora seus pensamentos, sentimentos e experiências com a ajuda do
                    psicanalista para compreender questões inconscientes que influenciam seu comportamento e bem-estar
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-stethoscope" aria-hidden="true"></i>
                <h3>Psicoterapia Breve</h3>
                <p>Intervenções terapêuticas de curto prazo focadas em questões específicas ou objetivos definidos,
                    utilizando técnicas psicanalíticas, são conhecidas como Psicoterapia Breve Psicanalítica. </p>
            </div>

            <div class="service-item">
                <i class="fa fa-sign-language" aria-hidden="true"></i>
                <h3>Terapia de Casal</h3>
                <p>O tratamento destinado a ajudar casais a entender e resolver conflitos, melhorar a comunicação e a
                    dinâmica do relacionamento é conhecido como Terapia de Casal. Esse tipo de terapia é projetado para
                    abordar e resolver problemas dentro do relacionamento</p>
            </div>

            <div class="service-item">
                <i class="fa fa-medkit" aria-hidden="true"></i>
                <h3>Psicodiagnóstico</h3>
                <p>Avaliação detalhada para identificar problemas emocionais, comportamentais e de personalidade, muitas
                    vezes utilizando entrevistas clínicas, testes projetivos e outras técnicas de avaliação</p>
            </div>

            <div class="service-item">
                <i class="fa fa-child" aria-hidden="true"></i>
                <h3>Psicanálise Infantil e Adolescente</h3>
                <p>Trabalho terapêutico especializado com crianças e adolescentes, ajudando-os a lidar com problemas
                    emocionais e comportamentais, muitas vezes envolvendo a família no processo</p>
            </div>

            <div class="service-item">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h3>Grupos de Terapia</h3>
                <p>Facilitação de grupos de terapia onde indivíduos com problemas ou interesses similares se reúnem para
                    discutir e explorar suas questões com o apoio do psicanalista e dos outros membros do grupo
                </p>
            </div>

        </div>

    </section>
    <!-------------------- Services Area (End) -------------------->



    <!-------------------- Portfolio Area (Start) -------------------->
    <section class="portfolio" id="portfolio">

        <div class="heading">
            <h2> Meu <span>portfolio</span></h2>
        </div>

        <div class="gallery">

            <ul class="controls">
                <li class="button btn active" data-filter="all">Todos</li>
                <li class="button btn" data-filter="web">Mais vendidos</li>
                <li class="button btn" data-filter="design">Mais acessados</li>
                <li class="button btn" data-filter="photography">Mais comentados</li>
            </ul>

            <div class="box-container">

                <div class="portfolio-item image web">
                    <img src="~/images/Portfolio/portifolio-1.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Psicanálise Individual</h4>
                        <p>categoria</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portifolio-1.jpg"
                            class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image web">
                    <img src="~/images/Portfolio/portifolio-2.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Psicoterapia Breve</h4>
                        <p> terapêutico</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portifolio-2.jpg"
                            class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image design">
                    <img src="~/images/Portfolio/portifolio-3.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Terapia de Casal</h4>
                        <p> terapêutico</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portifolio-3.jpg"
                            class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image design">
                    <img src="~/images/Portfolio/portifolio-4.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Psicodiagnóstico</h4>
                        <p> terapêutico</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portifolio-4.jpg"
                            class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>
                <div class="portfolio-item image photography">
                    <img src="~/images/Portfolio/portifolio-5.png" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Psicanálise Infantil</h4>
                        <p> terapêutico</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portifolio-5.png"
                            class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image photography">
                    <img src="~/images/Portfolio/portifolio-6.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Grupos de Terapia</h4>
                        <p> terapêutico</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portifolio-6.jpg"
                            class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- Portfolio Area (End) -------------------->



    <!-------------------- Testimonials Area (Start) -------------------->
    <section class="testimonial" id="testimonial">

        <div class="heading">
            <h2><span>Depoimentos</span></h2>
        </div>

        <div class="swiper-container testimonial-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pic-1.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        A psicanálise Individual me proporcionou uma compreensão mais profunda de mim mesmo. Ao longo
                        das sessões, descobri padrões de comportamento que antes não conseguia entender e encontrei
                        maneiras de lidar com questões que me afligiam há anos. A capacidade do meu psicanalista de
                        ouvir atentamente e fazer perguntas perspicazes me ajudou a descobrir novas perspectivas sobre
                        minha vida e meus relacionamentos.
                    </p>

                    <div class="intro">
                        <h3>jason roy</h3>
                        <h5>web developer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pic-2.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Desde a primeira sessão da psicoterapia breve, senti que estava sendo ouvido de verdade. Meu
                        terapeuta não apenas compreendeu minhas preocupações imediatas, mas também me ajudou a
                        identificar padrões de pensamento e comportamento que estavam contribuindo para minha angústia.
                        Em poucas sessões, comecei a ver mudanças positivas na forma como eu me relacionava comigo mesmo
                        e com os outros.
                    </p>

                    <div class="intro">
                        <h3>evelyn jones</h3>
                        <h5>freelancer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pic-3.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Eu e meu parceiro decidimos buscar a terapia de casal em um momento em que nossa relação
                        enfrentava desafios significativos. Estávamos enfrentando dificuldades na comunicação e
                        sentíamos que estávamos nos distanciando cada vez mais. Foi um passo difícil admitir que
                        precisávamos de ajuda, mas foi a melhor decisão que poderíamos ter tomado para o nosso
                        relacionamento.
                    </p>

                    <div class="intro">
                        <h3>Oliver Callie</h3>
                        <h5>graphic designer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pic-4.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        O psicodiagnóstico não apenas me proporcionou uma visão mais clara dos meus desafios internos,
                        mas também me ofereceu recomendações concretas e personalizadas para o meu desenvolvimento
                        pessoal. Foi um processo desafiador, porém extremamente gratificante, que me ajudou a tomar
                        decisões mais conscientes e a implementar mudanças positivas na minha vida.
                    </p>

                    <div class="intro">
                        <h3>luke wood</h3>
                        <h5>graphic designer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pic-5.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Desde a primeira sessão da psicanalise infantil, ficamos impressionados com o ambiente acolhedor
                        e seguro que nosso psicanalista criou para nosso filho. Ele se sentiu à vontade para expressar
                        seus sentimentos e preocupações, muitas vezes difíceis de articular para uma criança. Com o
                        tempo, começamos a perceber mudanças positivas em seu comportamento e em sua capacidade de lidar
                        com suas emoções
                    </p>

                    <div class="intro">
                        <h3>sarah glenn</h3>
                        <h5>freelancer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pic-6.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        O grupo de terapia não apenas me proporcionou novas perspectivas sobre minhas próprias questões,
                        mas também me ensinou habilidades práticas para lidar com o estresse, a ansiedade e conflitos
                        interpessoais. O processo de compartilhar e ouvir histórias de vida diferentes das minhas foi
                        enriquecedor e me ajudou a desenvolver uma maior compreensão de mim mesmo e dos outros.
                    </p>

                    <div class="intro">
                        <h3>samit patel</h3>
                        <h5>graphic designer</h5>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination1"></div>

        </div>
    </section>
    <!-------------------- Testimonials Area (End) -------------------->



    <!-------------------- Blog Area (Start) -------------------->
    <section class="blog" id="blog">

        <div class="heading">
            <h2>Noticias <span>Sobre</span></h2>
        </div>

        <div class="swiper-container blog-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/blog-1.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>1st jan, 2022</span></h5>
                            <h5><i class="fas fa-user"></i><span>uol</span></h5>
                        </div>
                        <a class="main-heading" href="#">Psicanálise - A mente segundo a teoria de Sigmund Freud</a>
                        <p> Freud buscou explicar a vida humana </p>

                        <a href="https://educacao.uol.com.br/disciplinas/biologia/psicanalise-a-mente-segundo-a-teoria-de-sigmund-freud.htm"
                            class="btn">read more <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/blog-2.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>6 de dezembro de 2023</span></h5>
                            <h5><i class="fas fa-user"></i><span>Bruna Cosenza</span></h5>
                        </div>
                        <a class="main-heading" href="#">Psicoterapia breve: o que é e como funciona</a>
                        <p>A psicoterapia breve é caracterizada por ter tempo e objetivos definidos.
                        </p>
                        <a href="https://www.vittude.com/blog/psicoterapia-breve/" class="btn">read more <i
                                class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/blog-3.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>18 mar
                                    2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>Raquel Barreto</span></h5>
                        </div>
                        <a class="main-heading" href="#">Terapia de casal: saiba quando ela é indicada

                        </a>
                        <p>Terapia de casal ajuda a melhorar a comunicação, resolver conflitos
                        </p>
                        <a href="https://www.terra.com.br/vida-e-estilo/terapia-de-casal-saiba-quando-ela-e-indicada,4c9e2021095c2a84618aefcc3debd6e8ssgzjxo9.html"
                            class="btn">read more <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/blog-4.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>22 de junho de 2023</span></h5>
                            <h5><i class="fas fa-user"></i><span>Patrícia Quintão</span></h5>
                        </div>
                        <a class="main-heading" href="#">Entenda o que é Psicodiagnóstico, e a importância dessa
                            técnica!</a>
                        <p>Você sabe o que é psicodiagnóstico?
                            <a href="#" class="btn">read more <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/blog 5.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>1st jan, 2022</span></h5>
                            <h5><i class="fas fa-user"></i><span>by admin</span></h5>
                        </div>
                        <a class="main-heading" href="#">Psicanálise Infantil</a>
                        <p> Como funciona a clínica psicanalítica com crianças?
                        </p>
                        <a href="https://www.institutoespe.com.br/post/psicanalise-com-criancas" class="btn">read more
                            <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/blog 6.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>1st jan, 2022</span></h5>
                            <h5><i class="fas fa-user"></i><span>by admin</span></h5>
                        </div>
                        <a class="main-heading" href="#">Grupos de Terapia</a>
                        <p>Terapia em grupo: entenda mais sobre como funciona essa prática
                        </p>
                        <a href="https://blog.cognitivo.com/terapia-em-grupo-entenda-mais-sobre-como-funciona-essa-pratica/"
                            class="btn">read more <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination2"></div>

        </div>

    </section>
    <!-------------------- Blog Area (End) -------------------->



    <!-------------------- Contact Area (Start) -------------------->
    <section class="contact" id="contact">

        <div class="heading">
            <h2><span>Meus</span> Contato</h2>
        </div>

        <div class="box-container">

            <div class="contact-info">

                <h3>Nossos Contato</h3>

                <p>Abaixo nossos contatos</p>

                <div class="info-item">
                    <h4>Telefone:</h4>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+123-456-789</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+111-222-333</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>email:</h4>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">abc@gmail.com</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">xyz@gmail.com</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>linkedin:</h4>
                    <div class="detail">
                        <div class="fab fa-linkedin"></div>
                        <p class="linkedin">https://www.linkedin.com/</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>github:</h4>
                    <div class="detail">
                        <div class="fab fa-github"></div>
                        <p class="github">https://github.com/</p>
                    </div>
                </div>
            </div>

            <form method="post" class="contact-form" id="contactUs-Form">

                <input type="text" name="name" class="box" id="name" placeholder="name" required />
                <input type="email" name="email" class="box" id="email" placeholder="email" required />
                <input type="text" name="subject" class="box" id="subject" placeholder="subject" required />
                <textarea cols="30" rows="10" name="comment" id="comment" class="box" placeholder="message"></textarea>
                <button type="submit" class="btn" name="submit" id="submit">send message</button>

                <span class="alert" id="msg"></span>

            </form>

        </div>

    </section>
    <!-------------------- Contact Area (End) -------------------->



    <!-------------------- Footer Area (Start) -------------------->
    <footer>
        <div class="social">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin-in"></a>
        </div>

        <div class="content">
            <p>created by <span>AS_Designs</span> | all rights reserved</p>
        </div>
    </footer>
    <!-- JQuery -->
    <script src="~/vendors/jquery/jquery-3.6.0.js"></script>
    <!-- Typed JS -->
    <script src="~/vendors/typed/typed.js"></script>   
    <!-- Magnific-Popup JS -->
    <script src="~/vendors/magnific-popup/jquery.magnific-popup.js"></script>
    
    <script>
        var typed = new Typed('.typing-text', {

            strings: ['Suporte Emocional', 'Tornar consciente o inconsciente', 'Propiciar criação de vínculo cliente e Analista', 'Interpretar conflitos e questões emocionais', 'Ajudar o paciente no seu autoconhecimento'],
            typeSpeed: 120,
            loop: true
        });
    </script>

    <!-- Contact-Form Script -->
    <script>
        jQuery('#contactUs-Form').on('submit', function (e) {
            jQuery('#msg').html('');
            jQuery('#submit').html('Please wait');
            jQuery('#submit').attr('disabled', true);
            jQuery.ajax({
                url: '~/php/submit.php',
                type: 'post',
                data: jQuery('#contactUs-Form').serialize(),
                success: function (result) {
                    jQuery('#msg').html(result);
                    jQuery('#submit').html('Submit');
                    jQuery('#submit').attr('disabled', false);
                    jQuery('#contactUs-Form')[0].reset();
                }
            });
            e.preventDefault();
        });
    </script>
    <script>
        // Script to handle the dropdown functionality
        document.querySelector('.dropdown').addEventListener('mouseover', function () {
            this.querySelector('.dropdown-content').style.display = 'block';
        });

        document.querySelector('.dropdown').addEventListener('mouseout', function () {
            this.querySelector('.dropdown-content').style.display = 'none';
        });
    </script>
</body>
